/* total */
* {
    color: #333333;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
body {
    width: 1200px;
    background: #ffffff;
}

/* header */
header {
    height: 100px;
    width: 1200px;
    position: relative;
}
.top {
    height: 100px;
    width: 1200px;
    position: absolute;
}

/* bodyWrap */


/* footer */
footer {
    height: 100px;
    width: 1200px;
    background: #777777;
}
