* {
      margin: 0;
      padding: 0;
      list-style: none;
      /* 기본 텍스트색 */
      color: #222328;
}
body {
      width: 1000px;
      height: 650px;
      background-color: #ffffff;
}
a {
      text-decoration: none;
      display: block;
}

/* header */
header {
      
}
.top {

}
.logo {
      background: lightblue;
}
.sidemenu {
      background: lightcyan;
}

/* body */
.middle {

}
.main-img {
      background: lightyellow;
}
.tabs {
      background: rgb(233, 233, 112);
}
.others {
}
.banner {
      background: lightgreen;
}
.shortcut {
      background: lightpink;
}

/* footer */
footer {

}
.bottom {

}
.bottom-logo {
      background: lightsalmon;
}
.bottom-others {

}
.bottom-menu {
      background: lightseagreen;
}
.copyright {
      background: lightgrey;
}